@font-face
  font-family: 'HelveticaNeue'
  src: url('~statics/font/HelveticaNeue.ttf')

@font-face
  font-family: 'MN'
  src: url('~statics/font/KhmerMN.ttf')

$pc_normal_font = 'HelveticaNeue'

html, body
  font-family $pc_normal_font